---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getVideo } from "../lib/twitter.js";

const videos = await Promise.all(
  [
		"https://twitter.com/i/status/1637188679050358784",
		"https://twitter.com/i/status/1637182107620372480",
		"https://twitter.com/i/status/1637191509744254978",

		"https://twitter.com/i/status/1636879114157150212",
		"https://twitter.com/i/status/1637209057458044931",
		"https://twitter.com/i/status/1637755836738031617",

		"https://twitter.com/i/status/1636123279051071489",
    "https://twitter.com/i/status/1637523312648548353",
    "https://twitter.com/realmarcel1/status/1637576398792531971",
  ].map((x) => getVideo(x))
);
console.log("videos", videos);
---

<Layout title="Welcome to Astro.">
	<header><h1>Here what's going on in France:</h1></header>
  <main>
    {
      videos.map((x) => (
        <video autoplay playsinline muted controls loop>
          <source src={x} type="video/mp4" />
        </video>
      ))
    }
  </main>
	<footer>
		<p>Toutes ces images viennent de Twitter, merci à tous les journalistes indépendants.</p>
	</footer>
</Layout>

<style>
	p {
		margin: 0;
	}
	header {
		padding: 1rem;
		text-align: center;
	}
	footer {
		padding: 1rem;
		font-size: 0.8rem;
	}
	video {
		width: 100%;
	}

	main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2px;
		padding: 2px;
	}

	main > video {
		border-radius: 2px;
	}
</style>